html {box-sizing:border-box;}
*, *::before, *::after {box-sizing:inherit;}

body {
    background-color: rgb(91,162,213);
}

label , input , select {
    display: block;
    justify-content: center;
}
input , select {
    border: 1px solid white;
    background-color: rgb(91,162,213);
    font-family: "helvetica";
    width: 250px;
    margin-bottom: 18px;
    color: white;

}
label {
    color: white;
    font-family: "Helvetica";
    font-size: 7pt;
    margin-bottom: 4px;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}
#lilbox {
    height: 35px;
}

#dropbox{
    height: 25px;
}

#bigbox {
    height: 100px;
}
::placeholder {
    color: rgb(73,112,141);
    font-style: italic;
    text-indent: 5px;
    font-family: "helvetica";
    font-size: 10pt;
}
.fieldset {
    border: 0;
}

